.button {
    display: flex;
    gap: 10px;
    font: inherit;
    cursor: pointer;
    height: 44px;
    padding: 0px 16px;
    align-items: center;
}

.button_view_outline {
    border: 1px solid var(--color-border);
    background-color: var(--color-surface);
    border-radius: 10px;
}

.button__icon {
    display: block;
    flex-shrink: 0;

}
.button__text {
    font-size: 16px;
    font-weight: 600;
}
.button__hint {
    color: var(--color-text-secondary);
    font-size: 16px;
    font-weight: 400;
}

.button_view_ghost {
    border: 2px solid var(--color-border-strong);
    background-color: var(--color-background);
    border-radius: 10px;
}

.button_view_primary {
    border: 1px solid var(--color-surface-inverse);
    background-color: var(--color-surface-inverse);
    color: var(--color-text-inverse);
    border-radius: 10px;
}

.button:disabled {
    opacity: 0.4;
    cursor: default;
}
