.sidebar {
    display: flex;
    flex-direction: column;
}

.sidebar__logo {
    align-self: flex-start;
    margin: 0 0 34px 12px;
}

.sidebar__user {
    margin-top: auto;
}

.sidebar__logout {
    justify-content: center;
    margin-top: 16px;
}
