.empty-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
    gap: 15px;
}

.empty-state__image {
    display: block;
}

.empty-state__title {
    font: var(--font-heading-30-extrabold);
    letter-spacing: var(--letter-spacing-heading-30);
}

.empty-state__text {
    margin: 0;
    font: var(--font-body-16-regular);
    color: var(--color-text-secondary);
    width: 300px;
}

.empty-state__actions {
    display: flex;
    justify-content: center;
    gap: 18px;
}

.empty-state__button {
    flex: 1;
    height: 57px;
}
